*{
    padding:0;
    margin:0;
    box-sizing: border-box;
	scrollbar-width: none !important;
}
body{
    color:#212121;
    font-family: 'Nunito Sans', sans-serif;
}
.fp-watermark {
display: none;
}
div#preload {
    visibility: hidden;
}
header{
	position:fixed;
	top:0;
    z-index:2;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr auto;
	padding: 30px;
	color:white;
}
header a{
	color:inherit;
}
header nav a{
	text-decoration: none;
	padding: 5px 10px;
}
div{
	height:100vh;
	background-size: cover;
	background-position: center center;
}
aside{
	position: fixed;
	transition: left .1s ease;
	left:-380px;
	width:320px;
	background-color:#212121;
	opacity: 90%;
	padding: 30px 40px;
	z-index: 10;
	height:100vh;
}
aside.active{
	left:0;
}
/*aside button.close{
	font-size:28px;
	border:0;
	background-color: transparent;
	color: white;
	cursor:pointer;
	padding-bottom: 20px;
	margin-left: -3px
}*/
aside a.close{
	color: #ffffff !important;
	cursor:pointer;
}
div#fp-nav.fp-left{
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9
}
span{  /*this changes the nav stuff*/
	background: #004343 !important;
	height:3px !important; 
	width:3px !important;
}
a.active span{
	height:11px !important; 
	width:11px !important;
}
#fp-nav ul li, .fp-slidesNav ul li{
	margin: 2px !important;
}
.sidebar{
	margin-top: 50px;
	color: white;
	font-family: 'Nunito Sans', sans-serif;
}
.sidebar li a{
	color: inherit;
	text-decoration: none;
	list-style-type: none;
	line-height: 35px;
	transition: 0.3s;
	font-weight: 500;
	font-size: 17px
}
.sidebar li a:hover{
	color:#009494;
}
.sidebar li{
	list-style-type: none;
	cursor:pointer;
}
.sidebar ul{
	list-style-type: none;
	padding-left: 15px;
	display: none;
	transition: 0.3s;
}

.sidebar ul.show1.show{
	display: block !important;
}
.sidebar ul.show2.show{
	display: block !important;
}
.sidebar ul.show3.show{
	display: block !important;
}
.sidebar ul.show4.show{
	display: block !important;
}